@use 'vars';

.AboutMe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  width: 100vw;
  padding: calc(#{vars.$navBarHeight} + 25px) 10vw 15px 10vw;

  font-family: vars.$poppins;
  color: vars.$black;

  background-color: vars.$backgroundColor;

  @media (max-width: 600px) {
    flex-direction: column-reverse;
    gap: 40px;

    height: auto;
  }

  .AboutMe-left {
    display: flex;
    flex-direction: column;

    @media (min-width: 600px) {
      width: 50%;
    }

    @media (max-width: 600px) {
      align-items: center;
    }

    h1 {
      font-size: 3em;

      @media (max-width: 600px) {
        margin-bottom: 15px;

        font-size: 2em;
        text-align: center;
      }

      @media (max-width: 300px) {
        margin-bottom: 15px;

        font-size: 1.2em;
        text-align: center;
      }
    }

    p {
      font-size: 1.2em;

      margin-bottom: 15px;

      @media (max-width: 300px) {
        font-size: 1em;
      }
    }

    .AboutMe-personal-links {
      display: flex;
      gap: 10px;
      margin-bottom: 50px;

      @media (max-width: 600px) {
        margin-bottom: 15px;

        justify-content: center;
      }

      .linkedin-link,
      .github-link,
      .resume-link {
        font-size: 1.8em;
        color: vars.$lightBlue;
        text-decoration: none;

        @media (max-width: 300px) {
          font-size: 1.5em;
        }

        &:hover {
          cursor: pointer;

          &::after {
            color: vars.$blue;
          }
        }
      }

      .linkedin-link,
      .github-link {
        &::after {
          font-family: vars.$fontAwesomeBrands;
          font-weight: 400;
        }
      }

      .linkedin-link {
        &::after {
          content: vars.$unicodeLinkedin;
        }
      }

      .github-link {
        &::after {
          content: vars.$unicodeGithub;
        }
      }

      .resume-link {
        &::after {
          font-family: vars.$fontAwesomeFree;
          font-weight: 600;

          content: vars.$unicodePDF;
        }
      }
    }

    .AboutMe-projects-link {
      width: fit-content;
      padding: 12px;

      font-size: 1.5em;
      font-weight: 600;
      color: vars.$white;
      text-decoration: none;

      background-color: vars.$darkPink;
      border-radius: 8px;

      @media (max-width: 600px) {
        padding: 8px;

        font-size: 1.2em;

        border-radius: 5px;
      }

      @media (max-width: 300px) {
        font-size: 1em;
      }

      &::after {
        margin-left: 10px;

        font-family: vars.$fontAwesomeFree;
        font-weight: 600;
        color: vars.$white;

        content: vars.$unicodeArrowRight;
      }

      &:hover {
        background-color: vars.$darkerPink;

        cursor: pointer;
      }
    }
  }

  .AboutMe-right {
    width: 100%;

    text-align: center;

    @media (min-width: 600px) {
      width: 50%;

      text-align: end;
    }

    img {
      width: 100%;
      height: auto;

      @media (max-width: 450px) {
        max-width: 330px;
      }
    }
  }
}
