@use 'vars';

.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: vars.$navBarHeight;
  padding: 15px 25px;

  font-family: vars.$poppins;
  font-size: 1.2em;
  font-weight: 600;
  color: vars.$black;

  background-color: vars.$backgroundColor;

  transition: all 0.3s ease-in;

  @media (max-width: 450px) {
    justify-content: center;
  }

  @media (max-width: 300px) {
    height: 70px;

    font-size: 1em;
  }

  .NavBar-left {
    @media (max-width: 450px) {
      display: none;
    }
  }

  .NavBar-right {
    ul {
      display: flex;
      gap: 30px;

      li a {
        text-decoration: none;

        &:hover {
          border-bottom: solid 2px;

          cursor: pointer;
        }
      }
    }
  }
}
