@charset "UTF-8";
/*===FONTS===*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
/*===COLORS===*/
/*===SIZE===*/
.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 80px;
  padding: 15px 25px;
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  color: #0d1117;
  background-color: #ffffff;
  transition: all 0.3s ease-in;
}
@media (max-width: 450px) {
  .NavBar {
    justify-content: center;
  }
}
@media (max-width: 300px) {
  .NavBar {
    height: 70px;
    font-size: 1em;
  }
}
@media (max-width: 450px) {
  .NavBar .NavBar-left {
    display: none;
  }
}
.NavBar .NavBar-right ul {
  display: flex;
  gap: 30px;
}
.NavBar .NavBar-right ul li a {
  text-decoration: none;
}
.NavBar .NavBar-right ul li a:hover {
  border-bottom: solid 2px;
  cursor: pointer;
}

.AboutMe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  width: 100vw;
  padding: calc(80px + 25px) 10vw 15px 10vw;
  font-family: "Poppins", sans-serif;
  color: #0d1117;
  background-color: #ffffff;
}
@media (max-width: 600px) {
  .AboutMe {
    flex-direction: column-reverse;
    gap: 40px;
    height: auto;
  }
}
.AboutMe .AboutMe-left {
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .AboutMe .AboutMe-left {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .AboutMe .AboutMe-left {
    align-items: center;
  }
}
.AboutMe .AboutMe-left h1 {
  font-size: 3em;
}
@media (max-width: 600px) {
  .AboutMe .AboutMe-left h1 {
    margin-bottom: 15px;
    font-size: 2em;
    text-align: center;
  }
}
@media (max-width: 300px) {
  .AboutMe .AboutMe-left h1 {
    margin-bottom: 15px;
    font-size: 1.2em;
    text-align: center;
  }
}
.AboutMe .AboutMe-left p {
  font-size: 1.2em;
  margin-bottom: 15px;
}
@media (max-width: 300px) {
  .AboutMe .AboutMe-left p {
    font-size: 1em;
  }
}
.AboutMe .AboutMe-left .AboutMe-personal-links {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}
@media (max-width: 600px) {
  .AboutMe .AboutMe-left .AboutMe-personal-links {
    margin-bottom: 15px;
    justify-content: center;
  }
}
.AboutMe .AboutMe-left .AboutMe-personal-links .linkedin-link,
.AboutMe .AboutMe-left .AboutMe-personal-links .github-link,
.AboutMe .AboutMe-left .AboutMe-personal-links .resume-link {
  font-size: 1.8em;
  color: #7a7fdd;
  text-decoration: none;
}
@media (max-width: 300px) {
  .AboutMe .AboutMe-left .AboutMe-personal-links .linkedin-link,
.AboutMe .AboutMe-left .AboutMe-personal-links .github-link,
.AboutMe .AboutMe-left .AboutMe-personal-links .resume-link {
    font-size: 1.5em;
  }
}
.AboutMe .AboutMe-left .AboutMe-personal-links .linkedin-link:hover,
.AboutMe .AboutMe-left .AboutMe-personal-links .github-link:hover,
.AboutMe .AboutMe-left .AboutMe-personal-links .resume-link:hover {
  cursor: pointer;
}
.AboutMe .AboutMe-left .AboutMe-personal-links .linkedin-link:hover::after,
.AboutMe .AboutMe-left .AboutMe-personal-links .github-link:hover::after,
.AboutMe .AboutMe-left .AboutMe-personal-links .resume-link:hover::after {
  color: #4e53ba;
}
.AboutMe .AboutMe-left .AboutMe-personal-links .linkedin-link::after,
.AboutMe .AboutMe-left .AboutMe-personal-links .github-link::after {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}
.AboutMe .AboutMe-left .AboutMe-personal-links .linkedin-link::after {
  content: "";
}
.AboutMe .AboutMe-left .AboutMe-personal-links .github-link::after {
  content: "";
}
.AboutMe .AboutMe-left .AboutMe-personal-links .resume-link::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "";
}
.AboutMe .AboutMe-left .AboutMe-projects-link {
  width: fit-content;
  padding: 12px;
  font-size: 1.5em;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  background-color: #ff8a91;
  border-radius: 8px;
}
@media (max-width: 600px) {
  .AboutMe .AboutMe-left .AboutMe-projects-link {
    padding: 8px;
    font-size: 1.2em;
    border-radius: 5px;
  }
}
@media (max-width: 300px) {
  .AboutMe .AboutMe-left .AboutMe-projects-link {
    font-size: 1em;
  }
}
.AboutMe .AboutMe-left .AboutMe-projects-link::after {
  margin-left: 10px;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: #ffffff;
  content: "";
}
.AboutMe .AboutMe-left .AboutMe-projects-link:hover {
  background-color: #ff5856;
  cursor: pointer;
}
.AboutMe .AboutMe-right {
  width: 100%;
  text-align: center;
}
@media (min-width: 600px) {
  .AboutMe .AboutMe-right {
    width: 50%;
    text-align: end;
  }
}
.AboutMe .AboutMe-right img {
  width: 100%;
  height: auto;
}
@media (max-width: 450px) {
  .AboutMe .AboutMe-right img {
    max-width: 330px;
  }
}

.Projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  padding: calc(80px + 15px) 25px calc(80px + 15px) 25px;
  font-family: "Poppins", sans-serif;
  color: #0d1117;
  background-color: #ffffff;
}
@media (max-width: 600px) {
  .Projects {
    padding: 50px 25px 30px 25px;
  }
}
.Projects h1 {
  margin-bottom: 50px;
  font-size: 3em;
  color: #4e53ba;
  border-bottom: solid 5px #4e53ba;
}
@media (max-width: 600px) {
  .Projects h1 {
    margin-bottom: 20px;
    font-size: 2em;
    border-bottom: solid 4px #4e53ba;
  }
}
@media (max-width: 300px) {
  .Projects h1 {
    font-size: 1.5em;
  }
}
.Projects .Projects-github-link {
  margin-bottom: 80px;
  font-size: 1.5em;
  color: #0d1117;
}
@media (max-width: 600px) {
  .Projects .Projects-github-link {
    margin-bottom: 30px;
    font-size: 1.2em;
    text-align: center;
  }
}
@media (max-width: 300px) {
  .Projects .Projects-github-link {
    font-size: 1em;
  }
}
.Projects .Projects-github-link a {
  color: #4e53ba;
  text-decoration: none;
}
.Projects .Projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.Projects .Projects-container .Project {
  position: relative;
  width: 600px;
  height: 300px;
  box-shadow: 0 0 5px lightgrey;
}
@media (max-width: 600px) {
  .Projects .Projects-container .Project {
    width: 100%;
  }
}
.Projects .Projects-container .Project .Project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
@media (max-width: 450px) {
  .Projects .Projects-container .Project .Project-image {
    object-position: center center;
  }
}
.Projects .Projects-container .Project .Project-description {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  transition: all 0.3s ease-in;
}
.Projects .Projects-container .Project .Project-description .Project-title {
  font-weight: 600;
  color: #0d1117;
}
.Projects .Projects-container .Project .Project-description .Project-skills {
  font-size: 1.2em;
  color: #2b31ba;
}
.Projects .Projects-container .Project .Project-description .Project-links {
  display: flex;
  gap: 15px;
}
.Projects .Projects-container .Project .Project-description .Project-links a {
  padding: 8px;
  font-size: 1.2em;
  color: #0d1117;
  text-decoration: none;
  background-color: none;
  border: solid 2px #4e53ba;
  border-radius: 8px;
  transition: all 0.2s ease-in;
}
.Projects .Projects-container .Project .Project-description .Project-links a:hover {
  color: #ffffff;
  background-color: #4e53ba;
  cursor: pointer;
}
.Projects .Projects-container .Project:hover .Project-description {
  opacity: 1;
}

.Footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  padding: 40px 25px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #4e53ba;
}
@media (max-width: 600px) {
  .Footer {
    padding: 25px 25px;
  }
}
.Footer h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
  border-bottom: solid 4px #ffffff;
}
@media (max-width: 600px) {
  .Footer h1 {
    display: none;
  }
}
.Footer .Footer-personal-links {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .Footer .Footer-personal-links {
    margin-bottom: 10px;
  }
}
.Footer .Footer-personal-links .Footer-linkedin-link,
.Footer .Footer-personal-links .Footer-github-link,
.Footer .Footer-personal-links .Footer-resume-link {
  font-size: 3em;
  color: #ffffff;
  text-decoration: none;
}
@media (max-width: 450px) {
  .Footer .Footer-personal-links .Footer-linkedin-link,
.Footer .Footer-personal-links .Footer-github-link,
.Footer .Footer-personal-links .Footer-resume-link {
    font-size: 2em;
  }
}
.Footer .Footer-personal-links .Footer-linkedin-link:hover,
.Footer .Footer-personal-links .Footer-github-link:hover,
.Footer .Footer-personal-links .Footer-resume-link:hover {
  cursor: pointer;
}
.Footer .Footer-personal-links .Footer-linkedin-link:hover::after,
.Footer .Footer-personal-links .Footer-github-link:hover::after,
.Footer .Footer-personal-links .Footer-resume-link:hover::after {
  color: #7a7fdd;
}
.Footer .Footer-personal-links .Footer-linkedin-link::after,
.Footer .Footer-personal-links .Footer-github-link::after {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}
.Footer .Footer-personal-links .Footer-linkedin-link::after {
  content: "";
}
.Footer .Footer-personal-links .Footer-github-link::after {
  content: "";
}
.Footer p {
  color: #7a7fdd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.App {
  width: 100vw;
  background-color: mediumaquamarine;
}

/*# sourceMappingURL=App.css.map */
